- var site = "eize.ninja"
- var title_sep = " | "
doctype html
html(lang=en)
    head
        title
            block title
                =site
        block head_include
            link(href="css/skew.css" rel="stylesheet")
        meta(charset="utf-8")
    body
        #everything
            #main
                a(href="#{root_url}/")#home-btn.home home
                h1#site-title
                    a(href="#{root_url}/")#home-title
                        span.eize
                            span.inside eize
                        span.ninja
                            span.inside ninja
                #info-line
                    p.intro ...and what a ninja you are! These are some projects, for you to behold.
                    ul.links
                        li
                            a(href="#{root_url}/").home home
                        li
                            a(href="#{root_url}/me").me get in touch!

                #content
                    block content
                        em nothing to see here
