extends ./base.jade

block title
    | eize.ninja - #{project_title}

block content
    #project
        h2.title= project_title
        img(alt="#{project_title} thumbnail" src=thumbnail).thumbnail
        !=html
        if screenshots
            #screenshots
            - each screen in screenshots
                .screenshot
                    img(src=screen.small alt="#{project_title} screenshot")
                    a(href="#{screen.large}") (see larger)
