extends ./base.jade

block title
    | eize.ninja - #{project_title}

block content
    #project
        .title
            h2.title= project_title
            a.back(href="#{root_url}") (back to projects)
        img(alt="#{project_title} thumbnail" src=thumbnail).thumbnail
        !=html
        if screenshots
            #screenshots
                - each screen in screenshots
                    .screenshot
                        a(href="#{screen.large}")
                            img(src=screen.small alt="#{project_title} screenshot")
                        a(href="#{screen.large}").see-large (see larger)
