extends ../base

block title
    - var page_name = "Amir-X"
    | #{page_name}#{title_sep}#{site}

block content
    - var site_url = "http://amir-x.com/";
    - var simcapy_url = "https://github.com/amireldor/simcapy-drupal-7";

    article.project
        header
            h1
                a(href=site_url).product= page_name
            .links
                a(href=simcapy_url).download capybara-based theme (github)
            img(src="images/simcapy-screenshot.png" alt="Simcapy Amir-X screenshot").thumbnail
        :markdown
            my website is nice
