extends ../base

block title
    - var page_name = "BERSERKORE Windows"
    | #{page_name}#{title_sep}#{site}

block content
    - var download_url = "http://eize.ninja/berserkore-beta.zip";
    - var source_url = "https://github.com/amireldor/berserkore-windows";

    h1= page_name
    #content
        h2
            a(href=download_url).product= page_name
            a(href=source_url).source= (source)
            img(src="images/berserkore-icon.png" alt="BERSEKORE icon")
        :markdown
            _nice_ __very__
